In [1]:
#Importing the necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import bokeh as bk
%matplotlib inline

In [4]:
token = pd.read_csv("C:/Users/KJ/Desktop/Customer_Token_Information.csv")

In [5]:
token

      contractId  AccountNumber         CreatedAt  Amount  Count  Duration
0        1307022      142325110    9/1/2017 15:54     100      0         5
1        1307374       92511041    9/2/2017 16:31     100      0         5
2        1307721      202399520    9/4/2017 11:08     100      0         5
3        1307764      676152506    9/4/2017 12:12     100      0         5
4        1307862      698858327    9/4/2017 15:00     100      0         5
5        1308371      850930502    9/5/2017 16:50     200      0        15
6        1308652      146483814    9/6/2017 14:48     250      0        29
7        1308741      258184267    9/6/2017 15:32     200      0        15
8        1309129      766122339    9/7/2017 12:53     100      0         5
9        1309193      849246633    9/7/2017 15:17     100      0         5
10       1307721      202399520    9/7/2017 15:24      50      1        25
11       1309336      963399860    9/7/2017 16:25     100      0         5
12       1308849      182947562    9/7/2017 19:25     100      0         5
13       1307862      698858327     9/8/2017 8:38      14      1         7
14       1307374       92511041     9/8/2017 9:29      30      1        30
15       1309193      849246633     9/8/2017 9:54      60      1        30
16       1309129      766122339     9/8/2017 9:59      60      1        30
17       1309638      165403268    9/8/2017 12:44     100      0         5
18       1307764      676152506    9/8/2017 14:19      10      1         5
19       1309840      458624851    9/8/2017 17:48     220      0        63
20       1309840      458624851    9/8/2017 17:48     220      1         2
21       1309336      963399860    9/8/2017 18:27      30      1        15
22       1310726      330804910   9/11/2017 15:05     100      0         5
23       1311048      681595849   9/12/2017 11:36     300      0       105
24       1311068      190968071   9/12/2017 11:57     100      0         5
25       1311027      389210252   9/12/2017 12:47     100      0         5
26       1307022      142325110   9/12/2017 13:42      14      1         7
27       1311274      779191074   9/12/2017 17:37     100      0         5
28       1311274      779191074   9/12/2017 18:06      20      1        10
29       1311438      674387956   9/13/2017 13:01     100      0         5
...          ...            ...               ...     ...    ...       ...
3343     1323962      469283747  12/18/2018 19:04      10     24         5
3344     1313543      924154937  12/18/2018 19:27      10     88         5
3345     1321132      142770408  12/19/2018 10:35      25      7         7
3346     1321378      105020003  12/19/2018 13:42      25     43         7
3347     1322375      406888301  12/19/2018 15:24      25     31         7
3348     1322126      964958680  12/19/2018 15:57     100     10        28
3349     1287671      754517675  12/19/2018 16:37      20     14        10
3350     1324155      488116235  12/19/2018 16:46      20     25        10
3351     1323904      993677638  12/19/2018 16:55      20     36        10
3352     1324962      513979733  12/19/2018 18:09      25     26         7
3353     1309840      458624851  12/19/2018 19:45      20     48        10
3354     1324392      349866084   12/20/2018 7:57      10     30         5
3355     1322771      323460643   12/20/2018 9:57      30     31        15
3356     1314732       83971131  12/20/2018 10:26      25     16         7
3357     1321527      641546267  12/20/2018 13:20      50     10        14
3358     1318726      758967772  12/20/2018 13:38      10    112         5
3359     1322836      809866290  12/20/2018 13:44      30     27        15
3360     1321129      853635951  12/20/2018 14:47      25     49         7
3361     1325245      359224090  12/20/2018 17:49      25      6         7
3362     1365664      721292462  12/21/2018 11:33      24     12        12
3363     1324684        2803766  12/21/2018 15:03      90     10        30
3364     1324684        2803766  12/21/2018 15:10      60     11        30
3365     1325378      646486847  12/21/2018 16:30      25     50         7
3366     1324534      904260699  12/21/2018 16:50      10     64         5
3367     1323833      297010227  12/21/2018 17:04      25      6         7
3368     1323938      552709150  12/21/2018 18:54      10     63         5
3369     1307862      698858327  12/21/2018 20:51       6     91         3
3370     1323939       30997084  12/22/2018 12:28      25     33         7
3371     1397294      525759421   12/23/2018 9:54     100     10        28
3372     1320645      449467794  12/23/2018 17:53     100     17        28

[3373 rows x 6 columns]